html, body {padding:0; margin:0; min-height:100%; height:100%;}

#wrapper {width: 100%; min-height:100%; position:relative;}

div, nav, section { display:block; margin:0; padding:0;
}

a, a:visited {color: blue; }

.main-nav { margin: 0 0px 40px;  width:100%; padding: 10px 0;}

.main-nav, footer {  background: #096e98; margin:0 auto; color: #fff; font-family: Arial; font-weight:bold; font-size: 16px;}

.copy {padding:5px 30px;}

footer {  text-align: center; position: absolute; bottom: 0; left:0; width:100%; 
	min-height: 60px;

}

.main-nav:after, .main-nav:before { clear:both; content: ""; display:table; }

.nav {float:right;  padding:10px 30px; }

.nav a {margin: 0 15px 0 0; color: #fff; text-decoration: none; transition: all ease 0.4s; }

.nav a:hover, .nav a.active { /*text-decoration: underline;  */ color: orange;}



/* Основной контент  */

#main-content {min-height: 400px;  width: 1200px; margin: 0 auto; padding-bottom:60px;}

#main-content:after, #img-list:after {
content:"";
display:table;
clear:both;
}

/* Загрузка изображений */


#upload-block {
	width:1200px; margin:30px auto 20px; min-height: 500px;
}


#upload, #preview { display: inline-block; vertical-align: top; }

#upload { margin-right: 15px;  width: 440px; }


#upload input { margin: 15px 5px 35px 0; display:block; }

#preview { width: 740px;}

#preview h2 { margin-top: 11px; border-bottom: 2px solid orange;
    display: inline-block;
    clear: both; }

    #preview h2:after {clear:both; display: table; content: "";}

#img-list {margin: 10px 0;  padding:0; list-style: none; display:block; }

#img-list li { padding: 0; margin:0 10px 10px 0; display:block; float:left;  overflow: hidden;
	border: 4px solid #efefef;
	/*width:340px;
    height: 280px;*/
    box-sizing: border-box;
    border-radius: 4px; 
  float: left;
position: relative;}

#img-list li img, #img-list .preview  {  width: 340px; height: 282px;margin: 0 auto; display:block; z-index: 10;}

#img-list .preview {
background-repeat: no-repeat;
background-size:cover;
background-position: center;

}


#img-list li:nth-child(2n) { margin-right:0;   float:right; }

.img-overlay {z-index: 999; position:absolute; bottom:0; left:0; width: 100%; height:0;  background: rgba(0,0,0,0.7);
/*display:none;*/
opacity:0;
transition: all linear 0.3s;
}

#img-list li:hover .img-overlay  {
/*display:block;*/
height: 100%;
opacity:1;
}



.img-overlay .btns {z-index:2000; position:absolute; top: 37%;
    left: 30%; color: #fff;}

.img-overlay .btns span {display:inline-block; margin:10px; cursor: pointer; transition: color ease 0.5s;}

.img-overlay .btns span:hover, .btns span:hover a {color: orange;}


.btns a {color: #fff; text-decoration: none;}


/* Главная */


.main-gallery {
display:block;
clear:both;
margin: 10px auto 30px;
}

.clear {
clear:both;
}


#img-list.main-list li {
	margin-right:30px;
	float: left;
	margin-bottom: 30px;
}

#img-list.main-list .preview {
    width: 372px ;
    height: 282px;
    border-radius: 3px;
}

#img-list.main-list .btns {
left: 108px;
top:38%;
}

.main-gallery #img-list li:nth-child(3n) {

margin-right:0px !important;
}


/* Комментарии */


#comments {
display:block;
clear:both;

}

#comments textarea {
    height: 100px;
    resize: none;
    width: 50%;
    display: block;
    margin: 10px auto;
    float:left;
    clear: both;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    font-family: Arial;
    box-shadow: 0px 0px 7px 2px #ddd;
    outline: none;
    color: #000;
}

#comments textarea:after {
clear:both;
display:table;
content: "";
float:none;
}

#comments .sbmt, #comments .cancel {
display:inline-block;
float:none;
clear:both;
margin:10px 0;
background: #00356E;
    border-radius: 5px;
    padding: 10px;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: 0.7s background ease;
    font-weight:bold;
    outline:none;
    margin-right: 7px;
} 

#comments .sbmt:hover, #comments .cancel:hover {
background: orange;
}

#comments-list .empty-view p {
font-weight:bold;
font-size:16px;
line-height: 16px;
margin: 10px 0;
padding:0;
}

.bigImg {
min-height:300px;
}

#comments {
 margin: 30px 0;
}


#comments h3 {border-bottom: 2px solid orange; display:inline-block;
margin:15px 0;
}


.bigImg .big-preview img {
max-width:600px;
min-width:300px;
max-height:600px;
display:block;
}

#comments-list {
display:block;
clear:both;
margin:15px 0;
/*list-style:none;*/
padding:0;
line-height:15px;
font-size:14px;
}

#comments-list li {
margin-bottom:20px;
/*display:block;*/
padding:0px;
font-size: 16px;
}

#comments-list .empty-view {
color:#666;
font-style: italic;
}


#comments-list {
	margin-bottom:30px;
	list-style-position:inside;
}


#comments-list .edit, #comments-list .destroy {
cursor: pointer;
	font-weight:bold;
	font-size:12px;
border-bottom: 1px dashed transparent;
transition: color 0.8s ease;
margin-right: 5px;
}

#comments-list .edit:hover {
border-bottom: 1px dashed #666;
}

#comments-list .destroy:hover {
border-bottom: 1px dashed #666;
}

#comments-list li p {
margin:5px 0;
}