<!-- <img src="{{mini}}" /> -->
<div style="background-image:url({{src}})" class="preview"></div>
<div class="img-overlay">
	<span class="btns">

	<span class="go"><a href="image.php/?id={{id}}">Перейти</a></span>
<span class="destroy">Удалить</span>
	</span> 
	</div>
