{{#each uploaded}}<li><img src="{{this}}" />
<div class="img-overlay">
	<span class="btns">
	<span class="edit">Редактировать</span>
	<span class="destroy">Удалить</span>
	</span> 
	</div>
</li>{{/each}}