<span class="image-title">{{title}}</span>
<img src="{{mini}}" />
<div class="img-overlay">
	<span class="btns">
	<span class="destroy">Удалить</span>
	<span class="comment">Добавить комментарий</span>
	</span> 
	</div>
